html{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    border: 1px solid red;
    /* Sätter varje sida för sig */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: center;
}
p{
    border: 1px solid green;
    /* Ett värde sätter alla sidor */
    margin: 0;

    /* top left bottom right */
    padding: 20px 30px 40px 50px;
}
ol{
    border: 1px solid blue;
    margin: 0;

    /*2rem är top och bottom, 1rem är right and left  */
    /* top/bottom left/right */
    margin: 2rem 1rem;

    padding: 50px 0;
}

li{
    /* border: 1px solid orange; */
    border-bottom: 3px solid orange;
    /* top left/right bottom */
    margin: 2rem 1rem 0;
}

#parent{
    border: 5px solid gold;

    box-sizing: border-box;
    height: 200px;
    padding: 10px 0;
}

#first-child, #second-child{
    border: 3px solid hotpink;
    box-sizing: border-box;
    height: 50%;
}

#first-child{
    border: 5px solid olivedrab;
    width: 33.3%;
    height: 20px;
    margin: 0 auto;
}

span{
    box-sizing: border-box;
    background-color: black;
    color: white;

    /* Har endast effekt på sidorna */
    margin: 2rem;

    padding: 2rem;
}