nav > ul{
    list-style: none;

    display: flex;
    justify-content: flex-end;
}

nav>ul>li>a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: #373737;
}



nav>ul>li{
    border: solid 1px black;
    border-radius: 1.5px;
    border-bottom-width: 2px; 
    
    padding: 0 .5rem;
    
    background-color: #a2ebd1;
    margin-left: .5rem;
}

nav>ul>li:hover{
    background-color: #fcec63;
    border-bottom-width: 1px; 
    padding-top: 1px;
}


.circle{
    border-radius: 50%;
    padding: 0 .3rem;
    /* width: 25px; */
}